.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #5b5b5b;
  color: white;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin-left: 25px;
  align-items: center;
}